* {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial";
}

body {
	margin: 0 auto;
}

div.container div.ui.menu {
	border-radius: none !important;
}

.messageBox {
	min-width: 150%;
	max-height: 500px !important;
	overflow-y: overlay;
	padding: 20px;
}

src-title-info,
document-info {
	display: none;
}

genre, author, publish-info, lang {
	display: block;
}

book-title {
	font-weight: bold;
}

first-name {
	padding-right: 0.5em;
}