<section class="readbook">
	<!-- <div class="context" data-bind="html: context, event: {click: getSelectedText}"></div> -->
	<!-- <div data-bind="text: user.name"></div> -->
	<!-- <div data-bind="text: currentBook().name"></div> -->

	<div class="contents" data-bind="foreach: contents">
		<span class="title" data-bind="html: title, click: $root.showContext"></span>
	</div>
	<div class="currentSection" data-bind="style: { fontSize: fontSizeCSS()  + 'px', font: fontName() }">
		<div data-bind="html: currentSection, event: {click: getSelectedText}"></div>
	</div>

</section>

<style>
	
.readbook {
	padding: 10px;
}

.readbook .context {
	border: 1px solid red;
}

.readbook .contents span.title{
	cursor: pointer;
}

.readbook .contents span:hover {
	font-weight: bold;
}
.contents{
	float:left;
	width: 15%;
	background-color: #dfdfdf;
	padding:3px;
}
.currentSection{
	float:left;
	width: 80%;
	padding:5px;
}
.title{
	font-size: 10px;
}

</style>