<section class="library">
	
	<div class="br-header">
		<div class="ui icon small input br-search">
	  		<input type="text" placeholder="Search Books...">
	  		<i class="search icon"></i>
		</div>
		<div class="ui positive small button br-addbook file_upload">
	  		Add Book
	  		<input type="file" id="file" data-bind="event: { change: addBook }"/>
		</div>
	</div>

	<div>
		<span data-bind="event: {click: getSelectedText}">Test selection. Just select this text or one word.</span>
	</div>
	
	<div class="booklist" data-bind="foreach: user.books">
		<div class="item">
			<center>
				<div class="cover">
					<img data-bind="attr: {src: cover}">
				</div>
			</center>
			<div class="title" data-bind="text: title"></div>
			<div class="author" data-bind="text: author"></div>
			<div class="btns">
				<div class="ui positive mini button" data-bind="click: $root.getBookPreview">
					<i class="info icon"></i>
				</div>
				<a class="ui positive mini button" href="#" data-bind="attr: { href: '#book/' + name }">Read</a>
			</div>
		</div>
	</div>

	<div data-bind="text: test"></div>

</section>


<style>

.library .booklist{
	/*border: 1px solid red;*/
	padding: 10px;
	display: block;
}

.library .booklist img {
	height: 150px;
	display: inline;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.library .booklist .item {
	/*border: 1px solid green;*/
	padding: 10px;
	width: 150px;
	height: 235px;
	display: inline-block;
	vertical-align: top;
}

.library .booklist .item i.icon{
	margin: 0;
}

.library .booklist .btns,
.library .booklist .title,
.library .booklist .author {
	text-align: center;
}

.library .booklist .title,
.library .booklist .author {
	font-size: 0.8em;
	/*padding-top: 5px;*/
	padding-bottom: 5px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*line-height: 1em;*/
   	max-height: 2.5em;
   	/*-webkit-line-clamp: 2;*/
   	/*-webkit-box-orient: vertical;*/
}


.file_upload {
	cursor: pointer;
    position: relative;
    overflow: hidden;
}

.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.library {
	padding: 10px;
}

.library div.br-header {
	/*border: 1px solid red;*/
	width: 100%;
	display: block;
	padding-bottom: 10px;
}

.library div.br-search  {
	/*float: right;*/
	padding-left: 10px;
}

.library div.br-addbook {
	float: right;
}

.library input[type=file] {
	/*width: 0;
	height: 0;
	padding: 10px 20px;*/
}

</style>