<section class="profile">
    <div class="container" style="padding:15px;">

    	<!-- ko if: user.username -->        
        <div class='avatar' id='userinfo'>
            <!-- <img data-bind="attr: {src: avatar}"> -->
        </div>
        <div class='profile_content'>
    	   <p>User name: <span data-bind='text: user.name'></span></p>
        </div>
        <div class="ui compact menu">
          <a class="item" href="#">
            <i class="icon book"></i> Books
            <div class="floating ui red label" data-bind="text: books_count1"></div>
          </a>
          <a class="item" href="#words">
            <i class="icon pencil"></i> Words
            <div class="floating ui teal label" data-bind="text: words_count1"></div>
          </a>
        </div>
       <!-- /ko -->
    	
		<!-- ko if: !user.username -->
    	<p>Please login!</p>
    	<!-- /ko -->
    	
    </div>	
</section>    

<style>

section.profile .container{
    text-align: center;
}

.avatar img{
    border-radius: 50%;
    /*width:150px;*/
}

.profile_content {
    padding: 20px;
}
</style>