<section>
    <div class="container" style="padding:15px;">

    	<!-- ko if: nameName -->        
        <div class='avatar' id='userinfo'></div>
        <div class='profile_content'>
    	   <p>User name: <span data-bind='text: nameName'></span></p>
           <p>Books count: <span data-bind='text: books_count'></span></p>
           <p>Words count: <span data-bind='text: words_count'></span></p>
        </div>   
       <!-- /ko -->
    	
		<!-- ko if: !nameName -->
    	<p>Please login!</p>
    	<!-- /ko -->
    	
    </div>	
</section>    

<style>
    .avatar{width:150px; heigth:150px;}
    .profile_content{float:left; width:350px;}
</style>