<section>
    <div class="container">
            <div class="ui inverted menu">

                          <a class="item" data-bind="click: sidebar">
                            <i class="reorder icon"></i>
                          </a>

                          <div class="item title" data-bind="text: router.activeInstruction().config.title">
                          </div>

                          <div class="right menu">
                            <a class="item" data-bind="click: login">
                                    <i class="user icon"></i>
                                      <span data-bind="text: profile.btnText"></span>
                            </a>
                          </div>
                </div>
        </div>
        
            <!-- ko router: {} -->
        <!-- /ko -->
        <sidebar>
                <div class="ui inverted vertical sidebar menu">
                        <a class="item active" href="">Contents</a>
                        <a class="item" href="">Book Info</a>
                        <a class="item" href="">Library</a>
                        <a class="item" href="">Settings</a>
                        <a class="item" href="#Profile">Profile</a>
                        <a class="item" href="">Words</a>
                </div>
        </sidebar>

</section>