<section>
    <div class="container">
            <div class="ui inverted menu">

                          <a class="item" data-bind="click: sidebar">
                            <i class="reorder icon"></i>
                          </a>

                          <div class="item title" data-bind="text: router.activeInstruction().config.title">
                          </div>

                          <div class="right menu">
                            <!-- ko if: profile.fbId() -->
                             <a class="item" data-bind="attr: { href: '#profile'}">
                              <i class="user icon"></i>
                               <span data-bind="text: profile.txtLogin"></span>
                              </a> 
                              <!-- /ko -->     
                            
                            <a class="item" data-bind="click: login">
                                <!-- ko if: profile.fbId() -->
                                    <i class="sign in icon"></i>
                                 <!-- /ko -->     
                                  <!-- ko if: !profile.fbId() -->
                                    <i class="sign out icon"></i>
                                 <!-- /ko -->     
                                      <span data-bind="text: profile.btnText"></span>
                            </a>
                          </div>
                </div>
        </div>
        
        <!-- ko router: {} -->
        <!-- /ko -->
        <sidebar>
                <div class="ui inverted vertical sidebar menu">
                        <!-- ko if: user.curBookName -->
                        <a class="item" data-bind="attr: {href: '#contents/'+user.curBookName()}">Contents</a>
                        <a class="item" data-bind="attr: {href: '#book/'+user.curBookName()+'/'+user.currentSection()}">Current Book</a>
                        <!-- <a class="item" data-bind="click: routeTo.currentBook">Book</a> -->
                        <!-- /ko -->
                        <a class="item" href="#">Library</a>
                        <a class="item" href="#settings">Settings</a>
                        <a class="item" href="#profile">Profile</a>
                        <a class="item" href="#words">Dictionary</a>
                </div>
        </sidebar>

</section>