<section>
    <div class="container" style="padding:15px;">
    	<p style='margin:10px'>Books: <select data-bind="options: user.books"></select>
            Search word: <input type="text"  data-bind="value: filter, valueUpdate: 'afterkeydown'" />
        </p>
        <ul data-bind="foreach: filteredWords">
            <li>
                <a href="#" data-bind="text: title, click: selectBook"></a>
            </li>
        </ul>
        <span data-bind='text: filter'></span>
    </div>	
</section>    