<section>
    <div class="container" style="padding:15px;">
    	<p style='margin:10px'>Books: <select data-bind="options: books, optionsText: 'name', value: selectedBook, optionsCaption: 'All'"></select>
            Search word: <input type="text" data-bind="value: filter, valueUpdate: 'afterkeydown'" />
        </p>  
        
            <table border='1px'>
                <thead>
                    <tr><th>Word</th><th>Translate</th><th colspan=2>Book</th></tr>
                </thead>
                <tbody data-bind="foreach: filteredWords">
                    <tr width='600px'>
                        <td data-bind="text: text" width='250px'></td>
                        <td data-bind="text: translate" width='250px'></td>
                        <td data-bind="text: book"></td>
                        <td><button type="button" class="close" data-bind="click: $parent.deleteWord">&times;</button></td>
                    </tr>
                </tbody>                
            </table>
         

          <br>        
    </div>	
</section>    