<section>
    <div class="container" style="padding:15px;">
    <!--     <div class="ui input focus">
    	<p style='margin:10px'><label>Books:</label>
            <label>Search word:</label> <input type="text" placeholder="Word" data-bind="value: filter, valueUpdate: 'afterkeydown'" />
        </p>  
        </div>-->



 <div class="ui form">
      <div class="inline fields">
        <div class="field">
          <label>Books</label>
          <select data-bind="options: books, optionsText: 'name', value: selectedBook, optionsCaption: 'All'"></select>
        </div>
        <div class="field">
            <label>Search word</label><br>
          <input placeholder="Word"  type="text" data-bind="value: filter, valueUpdate: 'afterkeydown'">
        </div>       
      </div>
    </div>

    <!--  if: user.fbId()=="" 
        <div class="ui ignored info message"><STRONG>You do not have words. Please sign-in!</STRONG></div>
    <!--  -->
    <!--  if: user.fbId() != "" -->   
        <!-- ko if: filteredWords().length > 0 -->
            <table class="ui table segment">
                <thead>
                    <tr><th>Word</th><th>Translate</th><th colspan="2">Book</th></tr>
                </thead>
                <tbody data-bind="foreach: filteredWords">
                    <tr width='600px'>
                        <td data-bind="text: text" width='250px'></td>
                        <td data-bind="text: translate" width='250px'></td>
                        <td><a data-bind="attr: {href: '#book/'+book}">
                            <span data-bind="text: book"></span>
                           </a> 
                        </td>
                        <td><a data-bind="click: $parent.deleteWord" style='cursor:pointer;'> <i class="icon close">&nbsp;</i></td>
                    </tr>
                </tbody>                
            </table>
         <!-- /ko -->        
  
        <!-- ko if: filteredWords().length < 1 -->
            <div class="ui ignored info message"><STRONG>Nothing found!</STRONG></div>
        <!-- /ko -->
        
    <!--  -->          

          <br>        
    </div>	
</section>    

<style>
    table{border: 1px solid #dfdfdf;}
    th{background-color: grey; color: white;}
    td{border: 1px solid #dfdfdf;}
</style>